# Dataset retrieval from Google books

In [1]:
import pandas as pd

key = 'AIzaSyBCz5eY7kwfMTr7cyAEug1kSL2UhHTI-dA'
query = 'q'

url = f'https://www.googleapis.com/books/v1/volumes?q=search+terms'
book_data = pd.read_json(url)
book_data.head()

,kind,totalItems,items
0,books#volumes,1936,"{'kind': 'books#volume', 'id': 'UjG8qXVRSSQC',..."
1,books#volumes,1936,"{'kind': 'books#volume', 'id': 'gqDf__ULmR8C',..."
2,books#volumes,1936,"{'kind': 'books#volume', 'id': 'pscmDwAAQBAJ',..."
3,books#volumes,1936,"{'kind': 'books#volume', 'id': 'ZAH1AwAAQBAJ',..."
4,books#volumes,1936,"{'kind': 'books#volume', 'id': 'g7YNeVDDbVgC',..."

In [ ]:
import requests
import pandas as pd

# API endpoint and query parameters
endpoint = 'https://www.googleapis.com/books/v1/volumes'
params = {'q': 'search terms', 'startIndex': 0, 'maxResults': 40}

dfs = []

#  25 API requests to fetch 1000 rows of data
for i in range(25):
    params['startIndex'] = i * 40

    response = requests.get(endpoint, params=params)
    data = response.json()
    

    if 'items' in data:
        
        df = pd.json_normalize(data['items'])
        dfs.append(df)


df = pd.concat(dfs, ignore_index=True)


df.head(10)

In [9]:
df.shape

(963, 53)

In [10]:
df.to_csv('books_data.csv', index=False)